* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #f0f0f0;
}
body {
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header {
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 4rem;
}
main {
    max-width: 70%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2rem;
}
#generetePaletteBtn {
    background-color: #323232;
    font-size: 2.5rem;
    padding: 1rem;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 3rem;
}
#generetePaletteBtn:hover {
    color: #dcd427;
}
#paletteContainer {
    width: fit-content;
    height: fit-content;
}
.colorBoxes {
    width: 40rem;
    height: 8rem;
    background-color: yellow;
    text-align: end;
    font-size: 2rem;
}
